<nav class="navbar-sublimes">
  <div class="container navbar-sublimes-container">

    <% link_to "/" do %>
      <%= image_tag "sublimes.png", size: "200", id: "top", class: "navbar-sublimes-logo" %>
    <% end %>

<!--     <div class="navbar-sublimes-menu navbar-sublimes-menu-link">
      <%= link_to "TEAM", "/team.html", class: "navbar-sublimes-link" %>
      <%= link_to "GET INVOLVED", "/getinvolved.html", class: "navbar-sublimes-link" %>
    </div>

    <div class="navbar-sublimes-item">
      <%= link_to "GET INVOLVED", "/getinvolved.html", class: "navbar-sublimes-link" %>
    </div>
 -->
    <div class="navbar-sublimes-menu">
      <div class="navbar-sublimes-link team-link">
        <%= link_to "TEAM", "/team.html" %>
      </div>

      <div class="navbar-sublimes-link getinvolved-link">
        <%= link_to "GET INVOLVED", "/getinvolved.html"%>
      </div>
    </div>

  </div>
</nav>
