<nav class="navbar-sublimes">
  <div class="container navbar-sublimes-container">
    <div class="sublimes-logo">
          <% link_to "/" do %>
            <% if current_page.url == ('/') %>
              <%= image_tag "sublimehouse_logo_white.png", id: "top", class: "navbar-sublimes-logo"%>
            <% else %>
              <%= image_tag "sublimehouse_logo_black.png", id: "top", class: "navbar-sublimes-logo"%>
            <% end %>
          <% end %>
    </div>
    <div class="navbar-sublimes-menu hidden-xs">
      <div class="navbar-sublimes-link about-link">
        <%= link_to "ABOUT", "/about.html"%>
      </div>
      <div class="navbar-sublimes-link team-link">
        <%= link_to "TEAM", "/team.html"%>
      </div>
      <div class="navbar-sublimes-link getinvolved-link">
        <%= link_to "GET INVOLVED", "/getinvolved.html"%>
      </div>
    </div>
<!--     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#burger" aria-expanded="false" aria-controls="navbar">
      <i class="fa fa-bars"></i>
    </button>
 -->
<!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#burger" aria-expanded="false" aria-controls="navbar">
  <span class="sr-only">Toggle navigation</span>
  <span class="bar top-bar"></span>
  <span class="bar middle-bar"></span>
  <span class="bar bottom-bar"></span>
</button>
    <div id="burger">
      <ul class="list-group">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>
 -->

<div class="burger">
    <div class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <!-- <i class="fa fa-bars"></i> -->
<div class="bars">
  <span class="bar top-bar"></span>
  <span class="bar middle-bar"></span>
  <span class="bar bottom-bar"></span>
</div>
        </a>
        <ul class = "dropdown-menu">
           <li><a href="#">About</a></li>
           <li class="divider"></li>
           <li><a href="#">Team</a></li>
           <li class="divider"></li>
           <li><a href="#">Get involved</a></li>
        </ul>
    </div>
</div>

<!--     <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Collapsible Group Item #1
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <ul class="list-group">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>
  </div>
</div> -->



  </div>
</nav>
