<nav class="navbar-sublimes">
  <div class="container navbar-sublimes-container">
    <div class="sublimes-logo">
          <% link_to "hellosublimehouse.html" do %>
            <% if current_page.url == ('/') %>
              <%= image_tag "sublimehouse_logo_white.png", id: "top", class: "navbar-sublimes-logo"%>
            <% else %>
              <%= image_tag "sublimehouse_logo_black.png", id: "top", class: "navbar-sublimes-logo"%>
            <% end %>
          <% end %>
    </div>
    <div class="navbar-sublimes-menu">
      <div class="navbar-sublimes-link about-link">
        <%= link_to "ABOUT", "/about.html"%>
      </div>
      <div class="navbar-sublimes-link team-link">
        <%= link_to "TEAM", "/team.html"%>
      </div>
      <div class="navbar-sublimes-link getinvolved-link">
        <%= link_to "GET INVOLVED", "/getinvolved.html"%>
      </div>
    </div>
  </div>
</nav>
