<div class="whatwedo-container paragraph grey-bg text-center">
  <div class="container">
    <div class="row">
      <div class="title text-wrapper col-xs-12">
        <h1>Sublime House, a place to empower women</h1>
        <p>We’re a community of passionate and creative women, developer, designer, geek, employee, entrepreneur, explorer, who live and work together in a friendly and thoughtful environment for a month changing life experience.
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-12 col-sm-4" data-sr="enter left, move 30px, over 1s">
          <div class="features">
            <%= image_tag "bed_red.png", width: "100", class: "png-items-padding-bottom" %>
            <h2>Accommodation</h2>
            <p>Private & shared room <br>
              Shared kitchen and bathrooms <br>
              Central location <br>
              Housekeeping service <br>
              Communal supplies <br>
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4" data-sr="enter bottom, move 30px, over 1s">
          <div class="features">
            <%= image_tag "wifi_red.png", width: "100", class: "png-items-padding-bottom" %>
            <h2>
              Workspace
            </h2>
            <p>Internet <br>
              Coworking <br>
              Chillout area <br>
              Coffee <br>
              Projector <br>
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4" data-sr="enter right, move 30px, over 1s">
          <div class="features">
            <%= image_tag "community_red_outline.png", width: "100", class: "png-items-padding-bottom" %>
            <h2>Community
            </h2>
            <p>
              Talks, brainstorming & coaching <br>
              Peer-to-peer collaboration <br>
              Like-minded people <br>
              Professional connections <br>
              Yoga & meditation
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
  Committed to discovering and living a life of meaning and purpose, we support one another to take the steps we need to be effective changemakers. From social entrepreneurs to sustainability enthusiasts, educators to agriculturalists, tinkerers to designers, the co.space is a diverse tribe. -->



<!--   <h3 class="btn-reb price price-padding fade-and-slide ">Starting from <strong>550€</strong>/month.</h3>
   come stimulate your creativity and focus on your project, in a friendly and thoughtful environment.
  who live, work, and play together. -->


<div class="whatwedo-container prices-container paragraph city-container window-tree-quarter-sized text-center">
  <div class="bg-dark"></div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="title">A one month immersive programm<br>in the heart of Lisbon</h1>
        <h2>At The Sublimes Camp, you’re not just a member — you’re part of a community that cares. When you join us, you’ll get plenty of opportunities to connect with other members and the local neighborhood.</h2>
      </div>
    </div>
  </div>
</div>

<div class="whatwedo-container paragraph grey-bg text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center title">
        <h1>A mind & projet accelerator</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="col-sm-3 col-xs-12" data-sr="enter left, move 30px, over 1s">
          <%= image_tag "lifebalance_red.png", width: "100", class: "png-items-padding-bottom" %>
          <h2>Work & Life Balance</h2>
          <p>
            Immersed in a friendly environment proven to optimize growth, we support one another to take the steps we need to be effective changemakers.
          <p>
        </div>
        <div class="col-sm-3 col-xs-12" data-sr="enter bottom, move 30px, over 1s">
          <%= image_tag "goals_red.png", width: "100", class: "png-items-padding-bottom" %>
          <h2>Set your goals</h2>
          <p>
            Get away to get focus.
            It's rare to have such a large, uninterrupted chunk of time to focus on just one thing.
          </p>
        </div>
        <div class="col-sm-3 col-xs-12" data-sr="enter bottom, move 30px, over 1s">
          <%= image_tag "workshop_red.png", width: "100", class: "png-items-padding-bottom" %>
          <h2>Talks & workshops</h2>
          <p>
            Share knowledge with others. Teach and learn.
            Participate in regular events and workshops with local experts.
          </p>
        </div>
        <div class="col-sm-3 col-xs-12" data-sr="enter right, move 30px, over 1s">
          <%= image_tag "showcase_red.png", width: "100", class: "png-items-padding-bottom" %>
          <h2>Showcase your work</h2>
          <p>
            Pitch, show and test your work so you can get feedbacks, encouragments and practice public speaking in a benevolence athmosphere.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="whatwedo-container grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="grey-line">
        </div>
      </div>
    </div>
  </div>
</div>
 -->
<div class="whatwedo-container paragraph grey-bg-darker text-center">
  <div class="container">
    <div class="row">
      <div class="title col-xs-12">
        <h1>A place to get focus</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="col-sm-3 col-xs-12" data-sr="enter left, move 30px, over 1s">
          <%= image_tag "remotework_red.png", width: "100", class: "png-items-padding-bottom" %>
          <h2>Remote work</h2>
        </div>
        <div class="col-sm-3 col-xs-12" data-sr="enter bottom, move 30px, over 1s">
          <%= image_tag "study_red.png", width: "100", class: "png-items-padding-bottom" %>
          <h2>Self-directed study</h2>
        </div>
        <div class="col-sm-3 col-xs-12" data-sr="enter bottom, move 30px, over 1s">
          <%= image_tag "entrepreneurship_red.png", width: "100", class: "png-items-padding-bottom" %>
          <h2>Entrepreneurship</h2>
        </div>
        <div class="col-sm-3 col-xs-12" data-sr="enter right, move 30px, over 1s">
          <%= image_tag "sideproject_red.png", width: "100", class: "png-items-padding-bottom" %>
          <h2>Side-projects</h2>
        </div>
      </div>
    </div>
  </div>
</div>





 <!-- <div class="whatwedo-container paragraph grey-bg">
  <div class="container">
    <div class="row">
      <div class"col-xs-12">
        <div class="howwedo-content text-center">
          <h1>Join our community</h1>
          <form action="//thesublimes.us12.list-manage.com/subscribe/post?u=0ce30d996a3f1a97cdff4652f&amp;id=00b91c6bae" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
            <input type="email" name="EMAIL" id="mce-EMAIL" placeholder="you@gmail.com" class="form-control" required>
            do not remove this or risk form bot signups
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0ce30d996a3f1a97cdff4652f_00b91c6bae" tabindex="-1" value="">
            </div>
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-bordered btn-bordered-primary">
          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->


<div class="whatwedo-container paragraph bg-green-light">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="image col-xs-12 col-sm-4 col-md-3" data-sr="enter right, move 30px, over 1s">
          <%= image_tag "coding.png", width: "200", class: "" %>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9 white-font">
          <h1>Speak the language of tech<br><strong>Coding and web design</strong> introduction courses</h1>
          <ul>
            <p>
              <li>Understand the principles of coding.</li>
              <li>Get the basics in ux / ui design.</li>
              <li>Get the global skills to understand the technical questions
              that will help you relate to your tech teams.</li>
            </p>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="whatwedo-container paragraph grey-bg text-center">
  <div class="container">
    <div class="row">
      <div class="title col-sm-12">
        <h1>A positive social environment</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="title col-sm-12" data-sr="enter bottom, move 60px, over 0.8s">
        <div class="col-sm-4 col-xs-12">
          <%= image_tag "stimulating.png", width: "100" %>
          <h2>Stimulating</h2>
          <p>
            We look for friendly, self-directed and curious people who enjoy working and want to get better at what they do. Ask questions and seek answers. Tackle new challenges and make new discoveries. Never stop exploring.
          </p>
        </div>
        <div class="col-sm-4 col-xs-12">
          <%= image_tag "thoughtful.png", width: "100" %>
          <h2>Thoughtful</h2>
          <p>
            The atmosphere here is friendly and intellectual.
            We have social rules. We like profound respect for each individual as a person and learner. We like asking questions in an environment that is not just productive but also supportive, friendly, and positive.
          </p>
        </div>
        <div class="col-sm-4 col-xs-12">
          <%= image_tag "empowering_women.png", width: "100" %>
          <h2>Empowering women</h2>
          <p>
            We know they are local obstacles women see to success in tech.
            We encourage women to be deliberate and purposeful in planning their careers.
            We try to open women’s eyes to leadership possibilities.
            We create and expand women’s networks.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="whatwedo-container bg-green-light paragraph">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-9">
        <h1>Boost <strong>your productivity</strong> <br>Have a good work managment formula</h1>
        <ul>
          <p>
          <li>Yoga, jogging, meditation, reading...</li>
          <li>Work session</li>
          <li>Daily pairing coaching</li>
          <li>Start with the hardest thing first or the most valuable</li>
          <li>Timely breaks during the day, we like the 52-17 method</li>
          <li>Cook lunch or lunch at a restaurant nearby</li>
          <li>We encourage napping sessions</li>
          <li>Finish work early</li>
          <li>Talks from the participants</li>
          <li>Dinner and hanging out with the group</li>
          <li>Playtime</li>
          <li>A to-do-list prepared the night before</li>
          </p>
        </ul>
      </div>
      <div class="image col-xs-12 col-sm-4 col-md-3" data-sr="enter bottom, move 60px, over 1s">
        <%= image_tag "startup.png", width: "200", class: "" %>
      </div>
    </div>
  </div>
</div>



<div class="whatwedo-container the-sublimes paragraph grey-bg text-center last-paragraph">
  <div class="container">
    <div class="row">
      <div class="title col-xs-12">
        <h1>The Sublimes</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="profil col-sm-6 col-xs-12" data-sr="enter left, move 30px, over 1s">
          <%= image_tag "http://www.placehold.it/100x100", class: "img-circle" %>
          <p>
            <span>Gwenda</span>
            <br>Programmer
            <br> C, PHP, JS, HTML & CSS
            <br>Student at 42
            <br>Coffee lover
          </p>
          <div>
            <ul class="list-inline social-link">
              <li><a href=""><i class="fa fa-youtube"></i></a></li>
              <li><a href=""><i class="fa fa-instagram"></i></a></li>
              <li><a href=""><i class="fa fa-facebook"></i></a></li>
              <li><a href=""><i class="fa fa-twitter"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="profil col-sm-6 col-xs-12" data-sr="enter right, move 30px, over 1s">
          <%= image_tag "http://www.placehold.it/100x100", class: "img-circle" %>
          <p>
            <span>Anna</span>
            <br>UX / UI designer & art director
            <br>Learning Ruby, HTML & CSS
            <br>Loves disco music in secret
            <br>
          </p>
          <div>
            <ul class="list-inline social-link">
              <li><a href=""><i class="fa fa-youtube"></i></a></li>
              <li><a href=""><i class="fa fa-instagram"></i></a></li>
              <li><a href=""><i class="fa fa-facebook"></i></a></li>
              <li><a href=""><i class="fa fa-twitter"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>










