<div class="grey-bg window-full-sized">

  <div class="whatwedo-container paragraph">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="text-wrapper text-center">
  <!--           <h1><strong>A PLACE TO EMPOWER THE SUCCESS OF WOMEN</strong>
              <br>One month immersive & mind accelerator in Lisbon
            </h1>
   -->
            <h1>A PLACE TO EMPOWER WOMEN</h1>
            <h2>One month immersive & mind accelerator in Lisbon</h2>
            <br>
            <p>
              Developer, designer, geek, employee, entrepreneur or explorer,
              <br>
              come stimulate your creativity and focus on your project, in a friendly and thoughtful environment
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="whatwedo-container">
    <div class="price price-padding fade-and-slide text-center">
      <h3>Starting from <strong>550€</strong>/month.</h3>
    </div>
  </div>

  <div class="whatwedo-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
  <!--         <h1>Co-living, co-working, co-boosting</h1>
   -->
        <div class="col-xs-12 col-sm-4" data-sr="enter left, move 30px, over 1s">
          <div class="features text-center">
            <%= image_tag "bed_red.png", width: "100", class: "png-items-padding-bottom" %>
            <h2>Accommodation</h2>
            <p>Private & shared room <br>
              Shared kitchen and bathrooms <br>
              Central location <br>
              Housekeeping service <br>
              Communal supplies <br>
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4" data-sr="enter bottom, move 30px, over 1s">
          <div class="features text-center">
            <%= image_tag "wifi_red.png", width: "100", class: "png-items-padding-bottom" %>
            <h2>
              Workspace
            </h2>
            <p>Internet <br>
              Coworking <br>
              Chillout area <br>
              Coffee <br>
              Projector <br>
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4" data-sr="enter right, move 30px, over 1s">
          <div class="features text-center">
            <%= image_tag "community_red.png", width: "100", class: "png-items-padding-bottom" %>
            <h2>Community
            </h2>
            <p>
              Talks, brainstorming & coaching <br>
              Peer-to-peer collaboration <br>
              Like-minded people <br>
              Professional connections <br>
              Yoga & meditation
            </p>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="whatwedo-container prices-container city-container bg-dark window-tree-quarter-sized">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12 text-center white-font">
        <h1>In the heart of Lisbon</h1>
<!--         <h2>A place to think</h2>
 -->      </div>
    </div>
  </div>
</div>

<div class="whatwedo-container paragraph grey-bg">
  <div class="container">
    <div class="row">
      <div class"col-xs-12">
        <div class="whatwedo-content text-center paragraph-title">
          <!-- <h1>An ACCELERATOR OF PROJECTS</h1> -->
<!--           <h1>Why The Sublimes House?</h1>
          <p>
            Developer, designer, geek, employee, entrepreneur or explorer, this is for you!
          </p>
 -->
             <div class="col-sm-3 col-xs-12" data-sr="enter left, move 30px, over 1s">
              <%= image_tag "lifebalance_red.png", width: "100", class: "png-items-padding-bottom" %>
              <h2>Work & Life Balance</h2>
              <p>Get immersed in a friendly environment proven to optimize learning.
                Get away, get focus.
              <p>
            </div>
          <div class="col-sm-3 col-xs-12" data-sr="enter bottom, move 30px, over 1s">
            <%= image_tag "goals_red.png", width: "100", class: "png-items-padding-bottom" %>
            <h2>Set your goals</h2>
            <p>
<!--               On Mondays set weekly goals and see how we can help each other.
 -->
              It's rare to have such a large, uninterrupted chunk of time to focus on just one thing.
<!--               Here is a good place to start a project, and test it with the community.
 -->            </p>
          </div>
          <div class="col-sm-3 col-xs-12" data-sr="enter bottom, move 30px, over 1s">
            <%= image_tag "workshop_red.png", width: "100", class: "png-items-padding-bottom" %>
            <h2>Talks & workshops</h2>
            <p>
              Share knowledge with others. Teach and learn.
              We organise talks with interesting people.
            </p>
          </div>
          <div class="col-sm-3 col-xs-12" data-sr="enter right, move 30px, over 1s">
            <%= image_tag "showcase_red.png", width: "100", class: "png-items-padding-bottom" %>
            <h2 class="white-font">Showcase your work</h2>
            <p>
              Show your work so you can get feedbacks, encouragments and practice public speaking. Here you can test your ideas in a benevolence athmosphere.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="whatwedo-container paragraph grey-bg-darker">
  <div class="container">
    <div class="row">
      <div class"col-xs-12">
        <div class="whatwedo-content text-center paragraph-title">
          <h1>What can you work on?</h1>
          <div class="col-sm-3 col-xs-12" data-sr="enter left, move 30px, over 1s">
            <%= image_tag "remotework_red.png", width: "100", class: "png-items-padding-bottom" %>
            <h2>Remote work</h2>
          </div>
          <div class="col-sm-3 col-xs-12" data-sr="enter bottom, move 30px, over 1s">
            <%= image_tag "study_red.png", width: "100", class: "png-items-padding-bottom" %>
            <h2>Self-directed study</h2>
          </div>
          <div class="col-sm-3 col-xs-12" data-sr="enter bottom, move 30px, over 1s">
            <%= image_tag "entrepreneurship_red.png", width: "100", class: "png-items-padding-bottom" %>
            <h2>Entrepreneurship</h2>
          </div>
           <div class="col-sm-3 col-xs-12" data-sr="enter right, move 30px, over 1s">
            <%= image_tag "sideproject_red.png", width: "100", class: "png-items-padding-bottom" %>
            <h2>Side-projects</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




 <!-- <div class="whatwedo-container paragraph grey-bg">
  <div class="container">
    <div class="row">
      <div class"col-xs-12">
        <div class="howwedo-content text-center">
          <h1>Join our community</h1>
          <form action="//thesublimes.us12.list-manage.com/subscribe/post?u=0ce30d996a3f1a97cdff4652f&amp;id=00b91c6bae" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
            <input type="email" name="EMAIL" id="mce-EMAIL" placeholder="you@gmail.com" class="form-control" required>
            do not remove this or risk form bot signups
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0ce30d996a3f1a97cdff4652f_00b91c6bae" tabindex="-1" value="">
            </div>
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-bordered btn-bordered-primary">
          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->


<div class="whatwedo-container paragraph bg-green">
  <div class="container">
    <div class="row">
      <div class="whatwedo-content text-left white-font paragraph">
        <div class="col-sm-10 col-xs-12  ">
          <h1>Speak the language of tech with <br><strong>Coding and web design</strong> weekly introduction courses</h1>
          <ul>
            <p>
              <li>Understand the principles of coding.</li>
              <li>Get the basics in ux / ui design.</li>
              <li>Get the global skills to understand the technical questions
              that will help you relate to your tech teams.</li>
            </p>
          </ul>
        </div>
        <div class="image col-sm-2 col-xs-12" data-sr="enter right, move 30px, over 1s">
          <%= image_tag "coding.png", width: "300", class: "" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="whatwedo-container paragraph grey-bg">
  <div class="container">
    <div class="row">
      <div class"col-sm-12">
        <div class="whatwedo-content text-center paragraph-title">
          <h1>A positive social environment</h1>
          <div class="col-xs-12 " data-sr="enter bottom, move 60px, over 0.8s">
            <div class="col-sm-4">
              <h2>Stimulating</h2>
              <p>
                We look for friendly, self-directed and curious people who enjoy working and want to get better at what they do.
              </p>
            </div>
            <div class="col-sm-4">
              <h2>Be thoughtful</h2>
              <p>
                The atmosphere here is friendly and intellectual.
                We have social rules. We like profound respect for each individual as a person and learner. We like asking questions in an environment that is not just productive but also supportive, friendly, and positive.
              </p>
            </div>
            <div class="col-sm-4">
              <h2>Get Focus</h2>
              <p>
                It's rare to have such a large, uninterrupted chunk of time to focus on just one thing. Even at work, most of us have multiple responsibilities and priorities to juggle with. Here is a good place to start a project, and test it with the community.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="whatwedo-container paragraph bg-green">
  <div class="container">
    <div class="row">
      <div class="whatwedo-content text-left white-font paragraph">
        <div class="col-sm-12 col-xs-12  ">
          <div class="image col-xs-12 col-sm-2" data-sr="enter left, move 30px, over 1s">
            <%= image_tag "startup.png", width: "200", class: "" %>
          </div>
          <div class="col-xs-12 col-sm-10 howwedo-content white-font text-left">
            <h1>Boost your productivity</h1>
            <h2>We encourage a good formula for a good work management</h2>
            <div class="col-xs-12 col-sm-5 howwedo-content white-font text-left">
              <p>
                <ul>
                  <li>7:30am - Yoga, jogging, reading...</li>
                  <li>8am - Breakfast</li>
                  <li>9am - Start morning work session</li>
                    Start with the hardest thing first or the most valuable
                    <br>Timely breaks during the day, we like the 52-17 method
                  <li>12:30am - Cook lunch or lunch at a restaurant nearby</li>
                </ul>
              </p>
            </div>
            <div class="col-xs-12 col-sm-5 howwedo-content text-left">
              <p>
                <ul>
                  <li>1:30pm - Meditation</li>
                  <li>2pm - Work afternoon session</li>
                    We encourage napping sessions
                    <br>Finish work early
                  <li>6pm - Talk from the participants</li>
                  <li>7pm - Dinner and hanging out with the group</li>
                  <li>8pm - Games, movies, or nightlife</li>
                    A to-do-list prepared the night before
                </ul>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="whatwedo-container paragraph">
  <div class="container">
    <div class="row">
      <div class"col-xs-12">
        <div class="whatwedo-content text-center paragraph-title">
          <h1>The Sublimes</h1>
          <div class="col-sm-6 col-xs-12" data-sr="enter left, move 30px, over 1s">
            <%= image_tag "http://www.placehold.it/100x100", class: "img-circle" %>
            <p>
              <strong>Gwenda</strong>
              <br>Programmer
              <br> C, PHP, JS, HTML & CSS
              <br>Student at 42
              <br>Coffee lover
              <ul class="list-inline">
                <li><a href=""><i class="fa fa-youtube"></i></a></li>
                <li><a href=""><i class="fa fa-instagram"></i></a></li>
                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                <li><a href=""><i class="fa fa-twitter"></i></a></li>
              </ul>
            </p>
          </div>
          <div class="col-sm-6 col-xs-12" data-sr="enter bottom, move 30px, over 1s">
            <%= image_tag "http://www.placehold.it/100x100", class: "img-circle" %>
            <p>
              <strong>Anna</strong>
              <br>UX / UI designer & art director
              <br>Learning Ruby, HTML & CSS
              <br>Loves disco music in secret
              <br>
              <ul class="list-inline">
                <li><a href=""><i class="fa fa-youtube"></i></a></li>
                <li><a href=""><i class="fa fa-instagram"></i></a></li>
                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                <li><a href=""><i class="fa fa-twitter"></i></a></li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






